<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Aluno</title>
</head>
<body>
    <h1>Adicionar Aluno para a turma: {{ turma.nome }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar Aluno</button>
    </form>

    <h2>Alunos da turma {{ turma.nome }}</h2>
    <ul>
        {% for aluno in alunos %}
            <li>{{ aluno.nome }}</li>
        {% empty %}
            <li>Nenhum aluno cadastrado.</li>
        {% endfor %}
    </ul>

    <br>
    <a href="{% url 'criar_mapeamento' turma_id=turma.id %}">Ir para o mapeamento da turma</a>
    <br><br>
    <a href="{% url 'index' %}">Voltar para o index</a>
</body>
</html>
