<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>Bem-vindo</h1>
    <a href="{% url 'criar_turma' %}">Criar nova Turma</a>
    <br><br>

    <h2>Mapeamentos de Turmas</h2>
    <ul>
        {% for mapeamento in mapeamentos %}
            <li>
                <a href="{% url 'criar_mapeamento' turma_id=mapeamento.turma.id %}">Mapeamento da turma {{ mapeamento.turma.nome }}</a>
            </li>
        {% empty %}
            <li>Nenhum mapeamento disponível.</li>
        {% endfor %}
    </ul>
</body>
</html>
